---
import '../styles/global.css';
import { SITE_TITLE } from '../consts';

interface Props {
  title: string;
  description?: string;
}

const { title, description = '' } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const fullTitle = title === SITE_TITLE ? title : `${title} · ${SITE_TITLE}`;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL('rss.xml', Astro.site)}
/>

<title>{fullTitle}</title>
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalURL} />
<meta name="twitter:card" content="summary" />
